* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  }
  
  a {
  text-decoration: none;
  }
  
  a img {
  border: none;
  }
  
  button,
  a {
  cursor: pointer;
  color: inherit;
  }
  
  textarea {
  resize: none;
  }
  
  button,
  textarea,
  select {
  appearance: none !important;
  border-radius: 0;
  }
  
  /*End of CSS reset*/

body {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

header {
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45%;
  font-size: 35px;
}

input {
  position: absolute;
  height: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-left: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
}

input[type=submit] {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  padding: 0;
  width: 80px;
  height: 25px;
  border-radius: 5px;
   
}

h2 {
  position: absolute;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 80px;

}

img {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 130px;
  max-height: 600px;
  max-width: 80%;
}

p {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  bottom: 20%;
  font-size: 25px;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.5);
}

iframe {
  display: none;
}
