* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  }
  
  a {
  text-decoration: none;
  }
  
  a img {
  border: none;
  }
  
  button,
  a {
  cursor: pointer;
  color: inherit;
  }
  
  textarea {
  resize: none;
  }
  
  button,
  textarea,
  select {
  appearance: none !important;
  border-radius: 0;
  }
  
  /*End of CSS reset*/


*{
  box-sizing: border-box;
}
body{
  background-image: url('../background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 400;
}
header{
  margin-left: 30%;
  clear: left;
  font-size: 2em;
}
span{
  float: left;
  }
form{
  float: left;
}
input{
  height: 2em;
  padding: .5em 0;
}
h2{
  margin-left: 35%;
  margin-top: 1em;
  width: 100%;
  float: left;
}
img{
  display: block;
  max-height: 33em;
  max-width: 80%;
  margin: auto;
}
p{
  width: 80%;
  margin-left: 10%;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.5);
}
iframe{
  display: none;
}
